body {
    background-color: hsl(185, 75%, 39%);
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 0%, 59%);
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: -10% 300%, 110% -300%;
}

#card {
    width: 100%;
    position: relative;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 375px;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 15px;
    background-color: white;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    box-shadow: 0px 10px 45px hsl(0, 0%, 40%);
}

header {
    position: relative;
    width: 100%;
    min-height: 140px;
    background-image: url('../images/bg-pattern-card.svg');
    background-repeat: repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.photoProfil {
    position: absolute;
    bottom: -54px;
    left: calc(50% - 108px / 2);
}

.photoProfil img {
    border-radius: 50%;
    border: 6px solid white;

}

.content {
    width: 100%;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    padding-top: 65px;
    line-height: 24px;
}

.name span {
    color:hsl(0, 0%, 59%);
    font-weight: 400;
}

.city {
    font-size: 14px;
    font-weight: 400;
    color:hsl(0, 0%, 59%);
}

.stat {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    font-size: 12px;
    text-align: center;
    border-top:1px solid hsl(0, 0%, 87%);
    padding: 30px 45px 20px;
    line-height: 20px;
}

.follower span {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 18px;
}

@media (max-width: 375px) {
    body {
        background-position: 130% 200%, -30% -22%;
    }
}